{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="container-md">
  <div class="about_intro">
    <h1 class="heading_bg">Introduction</h1>
      
    </p>
    <h1 class="heading_bg">Developer</h1>
  </div>
  <div class="about_us">
     <div class="about_us_info">
       <div class="about_us_passport">
       <h3 class="about">Our team consists of 3 members </h3>
       <h4 class="about_us_dev_info">-Truong Van Phuc Khang (Team Leader)</h4>
       <h4 class="about_us_dev_info">-Tong Viet Tien</h4>
        <h4 class="about_us_dev_info">-Nguyen Manh Ngoc Khanh</h4> 
       </div>
{% endblock %}